
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">istatistikler</h6>
                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-address-book fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Aktif Kategori Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.activeCategoryCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-briefcase fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Aktif Çalışan Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.activeEmployeeConut</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-building fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Daire İlan Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.apartmentCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-rocket fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Ortalama Kira</p>
                                    <h6 class="mb-0">@(ViewBag.avergeProductPriceByRent.Substring(0, ViewBag.avergeProductPriceByRent.IndexOf('.') + 3))
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sale & Revenue End -->
                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-line fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Ortalama Satış F.</p>
                                    <h6 class="mb-0">@(ViewBag.AvergeProductPriceBySale.Substring(0, ViewBag.AvergeProductPriceBySale.IndexOf('.') + 3))
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Ortalama Oda Adedi</p>
                                    <h6 class="mb-0">@ViewBag.AvargeRoomCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-area fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Kategori Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.CategoryCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">En İyi Kategori</p>
                                    <h6 class="mb-0">@ViewBag.CategoryNameByMaxProductCount</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sale & Revenue End -->
                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-star fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">İlan - Şehir</p>
                                    <h6 class="mb-0">@ViewBag.CityNameByMaxProductCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-gamepad fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Şehir Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.DifferentCityCount</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-gift fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">En İyi Personel</p>
                                    <h6 class="mb-0">@ViewBag.EmployeeNameByMaxProductCountToString</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-motorcycle fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Son İlanın Fiyatı</p>
                                    <h6 class="mb-0">@(ViewBag.LastProductPrice.Substring(0, ViewBag.LastProductPrice.IndexOf('.') + 3))
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sale & Revenue End -->
                <!-- Sale & Revenue Start -->
                <div class="container-fluid pt-4 px-4">
                    <div class="row g-4">
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-anchor fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">En Yeni Bina Yılı</p>
                                    <h6 class="mb-0">
                                        @(int.Parse(ViewBag.NewestBuildingYear) - DateTime.Now.Year > 0 ? (int.Parse(ViewBag.NewestBuildingYear) - DateTime.Now.Year) : "Yıl henüz geçmedi.")
                                    </h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-shopping-basket fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">En Eski Bina Yılı</p>
                                    <h6 class="mb-0">@ViewBag.OldestBuildingYear</h6>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-bed fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Pasif Kategori</p>
                                    <h6 class="mb-0">@ViewBag.PassiveCategoryCount</h6> 
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xl-3">
                            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                                <i class="fa fa-plane fa-3x text-primary"></i>
                                <div class="ms-3">
                                    <p class="mb-2">Toplam İlan Sayısı</p>
                                    <h6 class="mb-0">@ViewBag.ProductCount</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Sale & Revenue End -->
            </div>
        </div>
    </div>
</div>

